html {
    background: url('images/stars.png');
    font-family: 'Russo One', 'Open Sans', sans-serif;
}

body {
}

.container {
    color: white;
    width: 80%;
    margin: auto;
}

.rainbow {
    color: red;
    /* Chrome, Safari, Opera */
    -webkit-animation: rainbow 3s infinite; 

    /* Internet Explorer */
    -ms-animation: rainbow 3s infinite;

    /* Standard Syntax */
    animation: rainbow 3s infinite; 
    text-shadow: 0, 0, 10px, #fff;
}
h1 {
    font-size: -webkit-xxx-large;
    font-weight: bolder;
    text-align: center;
    text-align: -webkit-center;
}

ol {
    font-size: xx-large;
    text-align: center;
    text-align: -webkit-center;
    margin: auto;
}

li {
    padding: 1em;
    background-color: rgba(0, 0, 0,
    0.50);
    font-weight: bolder;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
    10%{color: red;}
    25%{color: orange;}
    40%{color: yellow;}
    55%{color: green;}
    70%{color: blue;}
    85%{color: indigo;}
    100%{color: violet;}
    110%{color: red;}
}
/* Internet Explorer */
@-ms-keyframes rainbow{
    10%{color: red;}
    25%{color: orange;}
    40%{color: yellow;}
    55%{color: green;}
    70%{color: blue;}
    85%{color: indigo;}
    100%{color: violet;}
    110%{color: red;}
}

/* Standard Syntax */
@keyframes rainbow{
    10%{color: red;}
    25%{color: orange;}
    40%{color: yellow;}
    55%{color: green;}
    70%{color: blue;}
    85%{color: indigo;}
    100%{color: violet;}
    110%{color: red;}
}
